
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        hello
      </h1>
      <h2>signup</h2>

      <%= form_for @user, url: users_create_path do |f| %>

      <p>Name<%= f.text_field :name %></p>
      <p>email<%= f.text_field :email %></p>
      <p>password<%= f.text_field :password %></p>
      <%= f.submit :submit %>

      <%end%>
    </section>
  </aside>
</div>
